private/audio.nix
private/boot.nix
private/clients.nix
private/filesystems.nix
private/hardware.nix
private/networking.nix
private/packages/machinelearning.nix
private/power.nix
private/services/docker.nix
private/services/nvidia.nix
private/services/openvpn.nix
private/services/xserver.nix
